<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="display">{{display}}</div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="digitaNumero(1)">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitaNumero(2)">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitaNumero(3)">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="operacaoMatematica('+')">+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="executaCalculo()">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>